body {
	background-color:#e5ecf9;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	text-align:center;
	margin:0;
	padding:0;
}

#page {
	background-image:url(images/page.png);
	background-repeat:repeat-y;
	width:900px;
	margin:auto;
	text-align:left;
}

#header {
	width:870px;
	height:74px;
	background-image:url(images/header.png);
	clear:both;
	padding-top:25px;
	padding-left:30px;
}

#menulinks {
	width:870px;
	height:45px;
	background-image:url(images/menulinks.png);
	clear:both;
	padding-left:30px;
}


#menulinks a {
	padding-left:15px;
	padding-right:15px;
	padding-top:12px;
	height:30px;
	background-image:url(images/menulinks.png);
	background-position:top center;
	background-repeat:repeat-x;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	font-size:14px;
	font-weight:bold;
}

#menulinks a:hover, #menulinks a.active {
	background-image:url(images/menuhover.png);
	text-decoration:none;
	background-repeat:repeat-x;
}

#menulinks li {
	display: block;
	float: left;
}

.menulines {
	width:8px;
	height:30px;
	float:left;
	display:block;
	background-image:url(images/menuline.png);
}

#banner {
	width:900px;
	height:193px;
	clear:both;
	background-image:url(images/banner.png);
}

#bannerleft {
	padding-left:40px;
	width:515px;
	padding-right:15px;
	float:left;
	padding-top:10px;
	color:#FFFFFF;
	height: 193px;
	overflow: hidden;
}

#bannerright {
	padding-left:20px;
	width:270px;
	float:left;
	padding-top:10px;
	color:#FFFFFF;
	height: 193px;
	overflow: hidden;
}

#bannerright .header {
	font-size:16px;
	font-weight:bold;
}

.newsdate {
	padding-top:6px;
	padding-bottom:4px;
	color:#eaeaea;
	font-weight:bold;
}

a {
	text-decoration:none;
	color:#4b4b68;
}

a:hover {
	text-decoration:underline;
}

#mainarea {
	padding-top:10px;
}

#contentarea {
	padding-left:25px;
	width:525px;
	padding-right:40px;
	line-height:18px;
	float:left;
	padding-bottom:15px;
}

.content {
	padding-bottom:15px;
	padding-right:10px;
}

#sidebar {
	width:280px;
	float:left;
	line-height:18px;
}

#sidebar h2 {
	font-size:16px;
	font-weight:bold;
	padding:5px;
	padding-left:10px;
	border:1px solid #bdc5d4;
	background-color:#d3e0f6;
	margin-bottom:10px;
}

h1 {
	font-size:28px;
	font-weight:bold;
	margin:0;
	color:#555555;
}

#bannerleft h2 {
	font-size:25px;
	font-weight:bold;
	margin:0;
	color:#FFFFFF;
}

#bannerright h2 {
	font-size:16px;
	font-weight:bold;
	margin:0;
	color:#FFFFFF;
}

.description {
	font-size:15px;
	margin:0;
	color:#777777;
	padding-left:5px;
}

#bannerleft .description {
	font-size:15px;
	margin:0;
	color:#FFFFFF;
}

#footer {
	width:830px;
	padding-top:22px;
	padding-left:35px;
	padding-right:35px;
	padding-bottom:40px;
	color:#FFFFFF;
	font-size:12px;
	line-height:15px;
	clear:both;
	background-image:url(images/footer.png);
	background-repeat: no-repeat;
}

#footer a {
	color:#FFFFFF;
}

#footerleft {
	float:left;
}

#footerright {
	float:right;
}

.content h2 {
	font-size:16px;
	font-weight:bold;
	padding:5px;
	padding-left:10px;
	border:1px solid #bdc5d4;
	background-color:#d3e0f6;
	margin-top:0px;
}


/* mission */

#mission {
	background: #8382F4;
	border: 1px solid #4849B6;
	padding: 1em;
	margin-bottom: 1.5em;
	color: #FFFFFF;
}

/* Tables */



tr.even, tr.odd, tbody th {
  border: solid #C8C39E;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #d3e0f6;
}

tr.even {
  background-color: #e5ecf9;
}


tr.odd td.active {
  background-color: #d3e0f6;
}

tr.even td.active {
  background-color: #e5ecf9;
}

/* Logo */

#logo {
	float: left;
}